
@{
    ViewBag.Title = "Stocks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Stocks</h2>*@
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Stocks (In Each Store)</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Store Name</label>
                            <select id="ddlStore" class="form-control select2"></select>
                        </div>

                        <div class="col-md-3 d-flex align-items-center">
                            <button type="button" id="btnShow" class="btn btn-primary">Show</button>
                            <button type="button" id="btnReset" class="btn btn-warning">Reset</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table id="dtStocks" class="display " style="width:100%;">
                <thead>
                    <tr>
                        <th>Store Name</th>
                        <th>Product Name</th>
                        <th>Category Name</th>
                        <th>Brand Name</th>
                        <th>Model Year</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            $('#ddlStore').select2({
             //   placeholder: 'Select Store',
                closeOnSelect: true,
                width: '100%'
            })

            BindStores();
        });

        function BindStores() {
            $.ajax({
            url: '@Url.Action("GetStores", "Delivery")',
            type: 'GET',
            success: function (response) {
                console.log('Success : ', response.data);
                var data = response.data;

                $('#ddlStore').empty();
                $('#ddlStore').append($('<option></option>').val('0').html('Select'));
                $.each(data, function (key, item) {
                    $('#ddlStore').append($('<option></option>').val(item.StoreId).html(item.StoreName));
                });
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
          });
        }

       $('#btnShow').click(function () {
           var storeId = $('#ddlStore').val();

          $.ajax({
            url: '@Url.Action("GetStockDetailsByStoresId", "Delivery")',
            type: 'GET',
            data: { 'storeId': storeId },
            success: function (response) {
                console.log('Success : ', response.data);
                var data = response.data;
                if ($.fn.DataTable.isDataTable('#dtStocks')) {
                    $('#dtStocks').DataTable().clear().destroy();
                }

                $('#dtStocks tbody').empty();

                data.forEach(function (item) {
                    $('#dtStocks tbody').append(`
                        <tr>
                            <td>${item.StoreName}</td>
                            <td>${item.ProductName}</td>
                            <td>${item.CategoryName}</td>
                            <td>${item.BrandName}</td>                           
                            <td>${item.ModelYear}</td>
                            <td>${item.Quantity}</td>                         
                        </tr>
                    `);
                });

                $('#dtStocks').DataTable();
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });

       });

    $('#btnReset').click(function () {
        $('#ddlStore').val('0').trigger('change');
      //  $('#dtStocks').dataTable().fnClearTable();
        var table = new DataTable('#dtStocks');

        table.clear().draw();
    });

    </script>
}


