
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Customers</h2>*@

<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customers Details</h4>
                </div>
                <div class="card-body">
                    <a id="btnAdd" class="btn btn-success" style="margin-bottom:10px;float:right;">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New
                    </a>
                    <div class="table-responsive">
                        <table id="dtCustomer" class="display " style="width:100%;">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Street</th>
                                    <th>City</th>
                                    <th>State Name</th>
                                    <th>Zip Code</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Add/Edit Customer popup window*@
<div id="dvCustomerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hdrTitle">Add Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- First Name -->
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">First Name</label>
                        <input type="hidden" id="txtCustomerId" value="0" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtFirstName" class="form-control" placeholder="Enter First Name" required />
                    </div>
                </div>

                <!-- Last Name -->
                <div class="row mt-md-3" style="margin-top:15px;">
                    <div class="col-md-4">
                        <label class="control-label">Last Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtLastName" class="form-control" placeholder="Enter Last Name" required />
                    </div>
                </div>

                <!-- Phone -->
                <div class="row mt-md-3" style="margin-top:15px;">
                    <div class="col-md-4">
                        <label class="control-label">Phone</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtPhone" class="form-control" placeholder="Enter Phone Number" maxlength="10" />
                        <div class="invalid-feedback">Phone number is required</div>
                    </div>                   
                </div>

                <!-- Email -->
                <div class="row mt-md-3" style="margin-top:15px;">
                    <div class="col-md-4">
                        <label class="control-label">Email</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtEmail" class="form-control" placeholder="Enter Email" required />
                        <div class="invalid-feedback">Enter a valid email address</div>
                    </div>
                </div>
                <!--Street -->
                <div class="row mt-md-3" style="margin-top:15px;">
                    <div class="col-md-4">
                        <label class="control-label">Street</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtStreet" class="form-control" placeholder="Enter Street" required />
                    </div>
                </div>
             
                <!--City -->
                <div class="row mt-md-3" style="margin-top:15px;">
                    <div class="col-md-4">
                        <label class="control-label">City</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtCity" class="form-control" placeholder="Enter City" required />
                    </div>
                </div>

                <!--State Name -->
                <div class="row mt-md-3" style="margin-top:15px;">
                    <div class="col-md-4">
                        <label class="control-label">State Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtStateName" class="form-control" placeholder="Enter State Name" required />
                    </div>
                </div>

                <!--Zip Code -->
                <div class="row mt-md-3" style="margin-top:15px;">
                    <div class="col-md-4">
                        <label class="control-label">Zip Code</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtZipCode" class="form-control" placeholder="Enter Zip Code" required />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            // Increase page number buttons (default = 5)
            //$.fn.DataTable.ext.pager.numbers_length = 10;

            //// Initialize your DataTable
            //$('#dtCustomer').DataTable({
            //    pageLength: 25,
            //    pagingType: "full_numbers"
            //});

            BindCustomers();
        });

      function BindCustomers() {
          $.ajax({
            url: '@Url.Action("GetAllCustomers", "Sales")',
            type: 'GET',
            success: function (response) {
                console.log('Success : ', response.data);
                var data = response.data;
                if ($.fn.DataTable.isDataTable('#dtCustomer')) {
                    $('#dtCustomer').DataTable().clear().destroy();
                }

                $('#dtCustomer tbody').empty();

                data.forEach(function (item) {
                    $('#dtCustomer tbody').append(`
                        <tr>
                            <td>${item.FirstName}</td>
                            <td>${item.LastName}</td>
                            <td>${item.Phone}</td>
                            <td>${item.Email}</td>
                            <td>${item.Street}</td>
                            <td>${item.City}</td>
                            <td>${item.StateName}</td>
                            <td>${item.ZipCode}</td>
                            <td>
                                <button class ="btn btn-sm btn-info" onclick="EditCustomer(${item.CustomerId})">Edit</button>
                                <button class ="btn btn-sm btn-danger" onclick="DeleteCustomer(${item.CustomerId})">Delete</button>
                            </td>
                        </tr>
                    `);
                });

                $('#dtCustomer').DataTable();
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

        //$('select[name="dtCustomer_length"]').on('change', function () {
        //    table.page.len($(this).val()).draw();
        //});

        $('#btnAdd').click(function () {
            clearForm();
            $('#hdrTitle').text('Add Customer');
            $('#dvCustomerModal').modal('show');
        });

        function clearForm() {
            //txtCustomerId  txtFirstName txtLastName txtPhone txtEmail txtStreet txtCity txtStateName txtZipCode
            $('#txtCustomerId').val('');
            $('#txtFirstName').val('');
            $('#txtLastName').val('');
            $('#txtPhone').val('');
            $('#txtEmail').val('');
            $('#txtStreet').val('');
            $('#txtCity').val('');
            $('#txtStateName').val('');
            $('#txtZipCode').val('');
        }

        $('#btnSave').click(function () {

            var flag = ValidateCustomer();

            if (!flag)
                return;

        var customer = {
            customerId: $('#txtCustomerId').val(),
            firstName: $('#txtFirstName').val(),
            lastName: $("#txtLastName").val(),
            phone: $('#txtPhone').val(),
            email: $('#txtEmail').val(),
            street: $('#txtStreet').val(),
            city: $('#txtCity').val(),
            stateName: $('#txtStateName').val(),
            zipCode: $('#txtZipCode').val()
        };

        $.ajax({
            url: '@Url.Action("SaveCustomer", "Sales")',
            type: 'POST',
            data: customer,
            success: function (response) {
                console.log(response);
                var result = response.message;
                debugger;
                if (result == 'Success') {
                    clearForm();
                    $('#dvCustomerModal').modal('hide');
                    BindCustomers();
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
      });

    function ValidateCustomer() {
        var flag = true;

        if ($.trim($('#txtFirstName').val()) == '') {
            $('#txtFirstName').addClass('is-invalid')
            flag = false;
        }

        if ($.trim($('#txtLastName').val()) == '') {
            $('#txtLastName').addClass('is-invalid')
            flag = false;
        }

        if ($.trim($('#txtEmail').val()) == '') {
            $('#txtEmail').addClass('is-invalid')
            flag = false;
        }
        else {           
            var regex = /^[^\\s@@]+@@[^\\s@@]+\\.[^\s@@]+$/;
            var email = $.trim($('#txtEmail').val());
            var validEmail = regex.test(email);
            if (!validEmail) {
                $('#txtEmail').addClass('is-invalid')
                flag = false;
            }
            else
                $(this).removeClass('is-invalid');
        }

        if ($.trim($('#txtStreet').val()) == '') {
            $('#txtStreet').addClass('is-invalid')
            flag = false;
        }

        if ($.trim($('#txtCity').val()) == '') {
            $('#txtCity').addClass('is-invalid')
            flag = false;
        }

        if ($.trim($('#txtStateName').val()) == '') {
            $('#txtStateName').addClass('is-invalid')
            flag = false;
        }

        if ($.trim($('#txtZipCode').val()) == '') {
            $('#txtZipCode').addClass('is-invalid')
            flag = false;
        }
         
        return flag;
    }

    $('#txtPhone').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');

        if (this.value.length > 0) {
            $(this).removeClass('is-invalid');
        }
    });

    $('.form-control').on('input', function () {
        if ($(this).val().trim() !== '') {
            $(this).removeClass('is-invalid');
        }
    });

    $('#dvCustomerModal').on('shown.bs.modal', function () {
        $(this).find('.is-invalid').removeClass('is-invalid');
    });

    function EditCustomer(customerId) {
       clearForm();
        $.ajax({
            url: '@Url.Action("EditCustomer", "Sales")',
            type: 'GET',
            data: { 'customerId': customerId },
            success: function (response) {
                var data = response.data;

                $('#txtCustomerId').val(data.CustomerId);
                $('#txtFirstName').val(data.FirstName);
                $('#txtLastName').val(data.LastName);
                $('#txtPhone').val(data.phone);
                $('#txtEmail').val(data.Email);
                $('#txtStreet').val(data.Street);
                $('#txtCity').val(data.City);
                $('#txtStateName').val(data.StateName);
                $('#txtZipCode').val(data.ZipCode);

                $('#hdrTitle').text('Edit Customer');
                $('#btnSave').text('Update Changes');
                $('#dvCustomerModal').modal('show');
            }
        });
    }

    function DeleteCustomer(customerId) {

    }
    </script>

}